body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #24dd43;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

#searchInput {
    padding: 12px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#productTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#productTable th,
#productTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#productTable th {
    background-color: #4caf50;
    color: #fff;
}

#productTable img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
